html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
  width: 400px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  line-height: 320px;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 3px 3px 3px #000000;
  background-color: #ff5555;
  border-radius: 25px;
  border: 1px solid #aa3838;
  background-image: linear-gradient(150deg, #ff5555 0% 30%, #000000 );
  box-shadow: 5px 5px 5px #666666;
}